.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  overflow: hidden;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}
.container.modal-active{
  width: 100%;
  height: 100%;
  overflow: auto;
  z-index:  var(--z-index-modal);
}
.custom-backdrop{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background-color: rgba(61, 61, 61, 0.295);
}
.wrapper {
  flex-shrink: 0;
}

.modal-wrapper{
  background-color: white;
  padding: 1rem;
  position: relative;
}
.modal-close-icon{
  position: absolute;
  right: 12px;
  top: 12px;
  cursor: pointer;
}