.container {
  position: inherit;
  margin-top: 160px;
  height: 725px;
  width: 100%;
  padding-left: 60px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box; /* Ensure padding is included in the width/height calculation */
}

.formBox {
  border: 1px solid black;
  width: fit-content;
  height: fit-content;
}

.container img {
  position: absolute;
  top: 160px;
  height: 614px;
  width: 613px;
  background-color: #0000001a;
  border-radius: 10px;
}

.formContainer {
  
  max-width: max-content;
  height: 710px;
  position: absolute;
  top: 160px;
  left: 773px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.formHeader {
  height: 89px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.formHeader h2 {
  height: 60px;
  font-size: 40px;
  font-family: Poppins;
  font-weight: 600;
  line-height: 60px;
  color: #000000;
}

.formHeader p {
  height: 24px;
  width: 369px;
  font-size: 16px;
  font-family: Lato;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 1%;
  color: #6d747a;
}

.formHeader h6 {
  display: none;
}

.formContainer form {
  width: 100%;
  height: 480px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  box-sizing: border-box; /* Include padding/border in width calculations */
}

.namefield,
.emailContainer {
  width: 100%;
  height: 80px;
  display: flex;
  gap: 16px;
}

.firstname,
.lastname {
  
  min-width: 204px;
  width: 100%; /* Ensure input takes the full width */
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}

.namefield input {
  width: 100%;
  height: 48px;
  border: 1px solid #ced4da;
  padding: 13px 16px;
  border-radius: 5px;
  box-sizing: border-box; /* Ensure padding doesn't affect the width */
}

.emailBox {
  width: 50%;
  height: 80px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.formContainer form p {
  height: 24px;
  font-size: 16px;
  font-family: Lato;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 1%;
}

.emailBox input {
  width: 100%;
  height: 48px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  padding: 13px 16px;
  box-sizing: border-box; /* Ensure padding doesn't affect width */
}

.msBox {
  width: 100%;
  height: 272px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.messageBox {
  width: 100%;
  height: 176px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.messageBox textarea {
  height: 144px;
  width: 100%;
  border: 1px solid #ced4da;
  border-radius: 5px;
  padding: 13px 16px;
  box-sizing: border-box; /* Ensure padding doesn't affect width */
}

.privacyPolicy {
  width: fit-content;
  height: 24px;
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.privacyPolicy p {
  width: fit-content;
  font-family: Lato;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.linker {
  width: fit-content;
  color: cornflowerblue;
  cursor: pointer;
}

.error {
  min-width: max-content;
  font-size: 10px;
  color: #ced4da;
  font-weight: 500;
}

.submitButton {
  width: 106px;
  height: 48px;
  border-radius: 4px;
  padding: 14px 24px 16px 24px;
  background-color: #08080b;
  display: flex;
  gap: 10px;
  cursor: pointer;
}

.submitButton b {
  height: 16px;
  width: 58px;
  font-size: 16px;
  font-weight: 600;
  font-family: Poppins;
  color: #ffffff;
  text-align: center;
  letter-spacing: -1%;
}

@media screen and (max-width: 500px) {
  .container {
    padding: 0;
    margin-bottom: 50px;
    position: static;
    width: 342px;
    height: 1046px;
    margin-top: 168px;
    margin-left: 24px;
    flex-direction: column;
    gap: 24px;
  }

  .container img {
    position: static;
    height: 342px;
    width: 342px;
    border-radius: 5px;
  }

  .formHeader {
    width: 100%;
    height: 78px;
    gap: 12px;
  }

  .formHeader h2 {
    width: fit-content;
    height: 42px;
    font-size: 28px;
    line-height: 42px;
  }

  .formHeader p {
    display: none;
  }

  .formHeader h6 {
    width: fit-content;
    height: 24px;
    display: block;
    font-size: 16px;
    font-family: Lato;
    font-weight: 400;
    line-height: 24px;
    color: #2e3032;
  }

  .formContainer {
    position: static;
  }

  .formContainer form {
    height: 578px;
    gap: 36px;
  }

  .firstname,
  .lastname {
    width: 163px;
  }

  .emailContainer {
    width: 342px;
    flex-direction: column;
    height: auto;
    gap: 24px;
  }

  .emailBox {
    width: 100%;
  }

  .msBox {
    width: 342px;
    height: 266px;
  }

  .privacyPolicy p {
    font-size: 12px;
  }

  .submitButton {
    width: 100%;
    padding: 10px 24px 12px 24px;
    align-items: center;
    justify-content: center;
  }
}
