@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Righteous&family=Roboto&display=swap&family=Lato&display=swap");

.user_address {
    margin: 64px 0px;
}

.addr_head {
    font-size: 24px;
    font-family: "Poppins", sans-serif;
}

.addr_main {
    padding: 16px 0px;
    margin: 16px 0px;
    border-top: 1px solid #EBEDF0;
    width: 70%;
}
.addr_main:last-child{
    border-bottom: 1px solid #EBEDF0;
}

.addr_main_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Lato", sans-serif;
    font-weight: 600;
    position: relative;
}

.addr_stored {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.16px;
    color: #6D747A;
    width: 70%;
    padding-top: 8px;
}

.new_addr_add {
    font-family: "Lato", sans-serif;
    font-weight: 600;
    color: #0D69D7;
    cursor: pointer;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 6px;
    margin-top: 6px;
}

.new_addr_add span:first-child {
    margin-right: 10px;
    font-size: 20px;
}

.addr_edit_opt {
    position: absolute;
    right: 2%;
    top: 100%;
    display: none;
    width: 120px;
    padding: 12px 24px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    border-radius: 4px;
    background: #FFF;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.08);
}

.addr_edit_opt div:first-child{
    cursor: pointer;
}

.addr_edit_del{
    color: #DE2929;
    cursor: pointer;
}

.addr_edit_opt_show{
    display: flex;
}

.addr_edit_click{
    cursor: pointer;
}

@media only screen and (max-width:767px){
    .user_address{
        margin: 24px 0px;
        padding-bottom: 36px;
        border-bottom: 1px solid #EBEDF0;
    }

    .addr_main {
        font-family: "Lato", sans-serif;
        width: 100%;
    }

    .addr_stored {
        width: 100%;
    }
}