.mainContainer {
  max-width: 424px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.sectionHeading {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.sectionHeading h3 {
  color: var(--Grey-Black, #08090a);

  /* Header/Header H5 */
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 30px */
}
.sectionHeading p {
  color: var(--Grey-Grey-05, #2e3032);

  /* Body Text/Body Text B3 */
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  letter-spacing: 0.16px;
}

.checkboxContainer {
  max-width: 424px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.CheckBoxForm {
  max-width: 424px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.topLabel {
  display: flex;
  gap: 8px;
  color: var(--Grey-Black, #08090a);
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  letter-spacing: 0.16px;
}

.peoples {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;
  gap: 24px;
  align-items: center;
  justify-content: space-between;
}
.people {
  display: flex;
  align-items: center;
  gap: 24px;
  color: var(--Grey-Black, #08090a);
  text-align: center;

  /* Body Text/Body Text B3 */
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  letter-spacing: 0.16px;
}
.people p {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--Grey-Black, #08090a);
  text-align: center;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  letter-spacing: 0.16px;
}
.people p img {
  height: 24px;
  width: 24px;
  border-radius: 50%;
}

.scheHeading {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.scheHeading h {
  color: var(--Grey-Black, #08090a);
  /* Header/Header H5 */
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 30px */
}
.scheHeading p {
  color: var(--Grey-Black, #08090a);

  /* Body Text/Body Text B3 */
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  letter-spacing: 0.16px;
}
.days {
  display: flex;
  column-gap: 85px;
  row-gap: 16px;
  flex-wrap: wrap;
  cursor: pointer;
}
.date {
  color: var(--Grey-Black, #08090a);
  text-align: center;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  letter-spacing: 0.16px;
  display: flex;
  gap: 8px;
}
.selectedDay {
  border: 2px solid blue;
}

.selectsContainer {
  margin-top: 12px;
  display: flex;
  gap: 16px;
}
.content {
  max-width: 204px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.content h3 {
  color: var(--Grey-Black, #08090a);
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
  letter-spacing: 0.16px;
}
.selectWrapper {
  width: 100%;
  height: 48px;
  border-radius: 4px;
  border: 1px solid var(--Grey-Grey-30, #ced4da);
  background: #fff;
  position: relative;
}
.selectWrapper select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  height: 100%;
  color: var(--Grey-Black, #08090a);
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  letter-spacing: 0.16px;
  margin: 0;
  border: 0;
  padding-left: 16px;
}
.selectWrapper span {
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.selectWrapper span svg {
  width: 24px;
  height: 24px;
}
