/* AppointmentDetails.module.css */

.mainContainer {
  max-width: 424px;
  width: 100%;
  height: 100%;
  font-family: var(--primary-font);
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.heading {
  font-weight: 600;
  font-size: 20px;
}
.dateWrapper {
  max-width: 424px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  cursor: pointer;
}
.dateWrapper p {
  max-width: 424px;
  width: 90%;
  height: 48px;
  border-radius: 4px;
  border: 1px solid var(--Grey-Grey-30, #ced4da);
  background: #fff;
  padding: 0px 5%;
  display: flex;
  align-items: center;
  justify-content: end;
  position: relative;
}

/* Style for the span displaying the formatted date */
.dateWrapper span {
  width: 89%;
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  background-color: #fff;
  color: #555;
  font-size: 14px;
}
.serviceCategory {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.selectService,
.selectedService {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}
.selectedService p {
  height: 48px;
  border: 1px solid var(--Grey-30);
  display: flex;
  align-items: center;
  padding-left: 10px;
}
.addMoreService {
  font-weight: 600;
  color: rgb(8, 89, 104);
  font-size: 20px;
  width: 100%;
  display: flex;
  gap: 10px;
  cursor: pointer;
}
.noservice {
  color: red;
  padding: 20px 0px;
}
.timeWrapper {
  width: 100%;
  display: flex;
  gap: 10px;
}
.durationOfService {
  height: 48px;
  border: 1px solid var(--Grey-30);
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 10px;
  border-radius: 8px;
  font-size: 18px;
}
.comments {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.comments textarea {
  width: 100%;
  border: 1px solid var(--Grey-30);
  border-radius: 8px;
  padding: 10px 0 0 10px;
}
