/* PicturesGallery css start*/
.container {
  padding: 2rem 6rem;
  font-family: "Lato", sans-serif;
}

.imgarrowLeft {
  font-family: "Poppins", sans-serif;
  font-size: 42px;
  margin-bottom: 40px;

}

.mainDiv {
  display: flex;
  justify-content: space-between;
  width: 40%;
  margin-top: 5%;
}

.mainDiv1 {
  margin: 2px;
  color: gray !important;
}



.Pictures {
  max-width: 100%;
  margin-right: 10px;

}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 16px;
}

/* PicturesGallery css end */
.gallery_moreVertical {
  position: relative;
}

.mapPic {
  position: relative;
  height: 200px;
  max-width: 100%;
  width: 290px;
  padding: 0px, 95.5px, 0px, 96.5px;
  border-radius: 6px;
  border: 1px
}

.modalLeft {
  position: absolute;
  top: 0;
  right: 1px;
  left: 91%;
  color: #6D747A;
  background-color: rgb(245, 249, 249);
  
}

/* SalonPictures css start */

/* here open Onclick verticaly ican start */
.dropdown {
  display: inline-block;
  position: relative;
}

.dropdownContent {
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}


.RightIcon {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

.dd {
  width: Fill (204px);
  height: Fixed (48px);
  padding: 13px, 16px, 13px, 16px;
  border-radius: 4px;
  gap: 16px
}

.dd1 {
  width: Fill (204px);
  height: Fixed (48px);
  padding: 13px, 16px, 13px, 16px;
  border-radius: 4px;
  gap: 16px;
  color: "#EBEDF0"

}

.dd2 {
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.01em;
  text-align: left;
  color: #DE2929;
  border-radius: 4px;
  padding: 13px, 16px, 13px, 16px;
  gap: 16px
}

/* here open Onclick verticaly ican End */
.horizontalLine {
  margin-top: 30px;
  width: 1132px;
  border: 1px solid;
  color: #EBEDF0;

}
.byDefaultScreen{
  display: none;
}

@media only screen and (max-width: 768px) {
  .mainDiv {
   
    width: 70%;
    margin-top: 5%;
    margin-bottom: 10%;
  }
  .mainDiv1{width: 270px;}
  .gridContainer {
   display: grid;
    grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));
    gap: 16px; 
}

.mapPic{
  position: relative !important;
   height: 100px;
    width: 290px;
    padding: 0px, 95.5px, 0px, 96.5px;
    border-radius: 6px;
    border: 1px;
  }
  .imgarrowLeft {
    display: flex;
    align-items: center;
  }
  .Pictures{
    margin-right: 20px;}
    .openOnSmallScreen{
      display: block !important;
    }
    .horizontalLine{width: 70%;}
  }
