.mainContainer {
  max-width: 1345px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.heading {
  width: 100%;
  display: flex;
  gap: 20px;
  align-items: center;
}
.icon {
  display: none;
}
.heading h1 {
  flex: 1;
  font-family: Poppins;
  font-size: 28px;
  font-weight: 600;
  line-height: 42px;
  text-align: left;
}
.top {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: black;
  color: white;
  padding: 10px 12px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0.01em;
  text-align: left;
}
.contents {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
}

.bottom {
  width: 70px;
  height: 70px;
  background-color: #0d69d7;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  display: none;
}
.bottom button {
  background: none;
  border: none;
  font-size: 25px;
}
.iconColor{
  color: white;
}
@media only screen and (max-width: 700px) {
  .mainContainer {
    max-width: 98vw;
    margin: 0 auto;
  }
  .top {
    display: none;
  }
  .icon {
    display: flex;
    font-size: 25px;
  }
  .heading h1 {
    text-align: center;
  }
  .contents {
    gap: 2px;
  }
  .bottom {
    display: flex;
    position: fixed;
    bottom: 15%;
    right: 5%;
  }
}
