.taxesMain{
    height: 100vh;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: 9999;
}
.taxesA{
    width: 424px;
    padding: 24px; 
    box-sizing: border-box;
    border-radius: 4px;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
}
.taxesB{
    font-size: 20px;
    font-weight: 700;
}
.taxesC{
    font-weight: 400;
    padding-bottom: 24px;
    border-bottom: 1px solid #EBEDF0;
    text-align: center;
    line-height: 24px;
}
.taxesMob{
    display: none;
}

@media only screen and (max-width:767px){
    .taxesPC{
        display: none;
    }
    .taxesMain{
        align-items: flex-end;
    }
    .taxesMob{
        display: block;
    }
    .taxesA{
        display: block;
        width: 100%;
        text-align: start;
    }
    .taxesB{
        display: flex;
        justify-content: space-between;
    }
    .taxesC{
        text-align: justify;
        padding-bottom: 0px;
        border: none;
        margin-bottom: 36px;
    }
    .taxesIco{
        margin: 36px 0px 24px -10px;
    }
}