.lookbookContainer {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5rem;
  box-sizing: border-box;
  font-family: "Lato";
}
.lookbookContainer h1 {
  font-family: "Poppins";
  font-size: 56px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  margin-top: 5rem;
}
.lookbookContainer h2 {
  color: var(--Grey-10);
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  line-height: 150%; /* 36px */
}
.activeServiceType {
  background-color: #08090a !important;
  color: #fff;
  border: none !important;
}
.lookbookContainer h1 span {
  color: var(--primary-color);
}
.serviceButtonWrapper,
.serviceButtonWrapperMobo {
  display: flex;
  margin: 2rem;
  gap: 16px;
}
.serviceButtonWrapperMobo {
  display: none;
  overflow: hidden;
  width: 100%;
  gap: 12px;
  position: relative;
}
.serviceButtonWrapper button,
.serviceButtonWrapperMobo button {
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  gap: 10px;
  border-radius: 200px;
  border: 1px solid var(--Grey-10);
  background: #fff;
  font-family: "Lato";
}
.serviceButtonWrapperMobo button {
  font-size: 14px;
  font-weight: 400;
  padding: 8px 12px;
  white-space: nowrap;
}
.expandList {
  overflow-y: scroll;
  flex-wrap: wrap;
}
.rotate180 {
  transform: rotate(180deg);
}
.expandServicesList {
  position: absolute;
  display: flex;
  justify-content: end;
  align-items: center;
  right: 0%;
  height: 40px;
  border: none !important;
  width: 70px;
  /* box-shadow: rgba(216, 27, 27, 0.2) 0px 60px 40px -7px; */
  background: linear-gradient(
    270deg,
    #fff 46.22%,
    rgba(255, 255, 255, 0.24) 100%
  ) !important;
}
.expandServicesList img {
  height: 20px;
  width: 20px;
  z-index: 1;
}

.imgDetails {
  display: none;
  position: absolute;
  bottom: 20%;
  left: 50%; 
  transform: translateX(-50%); 
  background: #fff;
  border: none;
  padding: 1rem 1.5rem;
  cursor: pointer;
  font-family: "Poppins";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  border-radius: 4px;
}
.imageContainer:hover .imgDetails {
  display: block;
}
.masonry {
  display: flex;
  width: 90vw;
  margin: 7rem 0rem 1rem 0rem;
}

.imageContainer {
  position: relative;
  margin: 1rem 0.5rem;
}

.imageContainer .imageText {
  text-align: center;
  font-family: "Lato";
  font-size: var(--font-small);
  font-weight: 400;
}
.lookbookContainer .inputWrapper {
  display: flex;
  width: 536px;
  height: 64px;
  padding: 6px 6px 6px 16px;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  border-radius: 4px;
  border: 6px solid rgba(0, 0, 0, 0.03);
  background: #fff;
  gap: 8px;
  margin-top: 3rem;
  position: relative;
}
.inputWrapper input {
  width: 100%;
  height: 100%;
  border: none;
}
.inputWrapper input:focus {
  outline: none;
  border: none;
}
.submitLocation {
  display: flex;
  width: 101px;
  height: 100%;
  padding: 12px 24px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border: none;
  cursor: pointer;
  color: #434141;
  font-family: "Lato";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 30px */
  letter-spacing: -0.2px;
}
.blueBg {
  background-color: var(--primary-color);
  color: white;
}
.dropdownWrapper {
  width: 100%;
  height: 411px;
  top: 115%;
  z-index: 2;
  position: absolute;
  background: #fff;
  left: 0;
  border-radius: 4px;
  overflow-y: auto;
  overflow-x: hidden;

  /* Blog Card Shadow */
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.08);
}
.dropdownWrapper::-webkit-scrollbar {
  width: 8px;
  height: 1;
}
.dropdownWrapper::-webkit-scrollbar {
  background-color: var(--light-color);
  width: 12px;
  height: 8px;
}
.dropdownWrapper::-webkit-scrollbar-thumb {
  background-color: var(--secondary-color);
  border-radius: 8px;
  opacity: 0.5;
  height: 8px;
  border: 2px solid var(--light-color);
}
.locationItem {
  padding: 0.6rem;
  margin: 0.6rem;
  cursor: pointer;
  color: var(--Grey-10);
  font-family: "Lato";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */
  letter-spacing: 0.14px;
}
.locationItem:hover {
  background-color: #f6f6f6;
}

.masonryImage {
  border-radius: 4px;
}
.imageRating {
  position: absolute;
  left: 4%;
  top: 4%;
  display: flex;
  width: 52px;
  height: 24px;
  padding: 2px 6px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 40px;
  background: var(--White, #fff);
  font-weight: 700;
}
.expandbutton {
  display: none;
}
.zeroResponse {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-family: "Lato";
  margin: 2rem auto;
  font-weight: bolder;
}
.headerWrapper{
  display: none;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  gap: 16px;
}
.backIcon{
  background: none;
  border: none;
}
.locationWrap{
  display: flex;
  align-items: center;
  gap: 8px;
}
.showMore {
  color: var(--primary-color);
  font-family: "Poppins";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 16px */
  letter-spacing: -0.16px;
  display: flex;
  padding: 16px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  border: 1px solid var(--Secondary-colour, #0d69d7);
  background: #fff;
  margin: 1rem auto;
  cursor: pointer;
}

@media only screen and (max-width: 770px) {

  .imageText {
    display: none;
  }
  .imageRating {
    display: inline-flex;
    padding: 3px 6px;
    justify-content: center;
    align-items: center;
    width: 35px;
    gap: 4px;
    font-size: 12px;
  }
  .imageRating img {
    width: 12px;
    height: 12px;
  }
  .expandbutton {
    width: 48px;
    height: 32px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 5%;
    right: 5%;
    border-radius: 4px;
  }
  .expandbutton img {
    width: 14px;
    height: 14px;
  }
  .lookbookContainer {
    box-sizing: border-box;
    padding: 0rem 2rem;
  }
}
@media only screen and (max-width: 440px) {
  .serviceButtonWrapperMobo{
    display: flex;
  }
  .lookbookContainer {
    padding: 1rem;
  }
  .lookbookContainer h1 {
    font-size: 1.25rem;
  }
  .lookbookContainer h2 {
    font-size: 1rem;
    text-align: left;
  }
  .lookbookContainer .inputWrapper,
  .lookbookContainer .serviceButtonWrapper {
    display: none;
  }
  .masonry {
    margin: 1rem 0rem;
  }
  .zeroResponse {
    font-size: 1rem;
  }
  .imgDetails{
    white-space: nowrap;
    padding: .4rem;
    font-size: 12px;
    bottom: 10%;
  }
  .headerWrapper{
    display: flex;
  }
}
