.container,
.submitWrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-family: "Lato", sans-serif;
}
.heading {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.VerifyOTP {
  font-size: 28px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}
.enterOTPText {
  font-size: 20px;
  font-weight: 400;
}
.error{
  color:red;
  margin:auto;
  font-size: var(--font-small);
}
.OTPWrapper {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.OTPWrapper input {
  width: 64px !important;
}
.OTPinput {
  height: 50px;
  width: 30px;
  margin-right: 10px;
  font-size: 28px;
  border: none;
  text-align: center;
  border-bottom: 1px solid var(--black-color);
}
.OTPinput:focus {
  outline: none;
}
.submitWrapper {
  gap: 8px;
}
.submitOTP {
  width: 400px;
  margin-bottom: 1rem;
}
.OTPtimer {
  font-family: "Lato", sans-serif;
  font-size: var(--font-medium);
  font-weight: 400;
  display: flex;
  gap: 8px;
}
.OTPtimer .countdown {
  color: var(--Grey-10);
  font-size: var(--font-medium);
  cursor: pointer;
}
.resendOTP {
  color: var(--primary-color);
  font-size: var(--font-medium);
  cursor: pointer;
  font-weight: 600;
}
@media only screen and (max-width: 768px) {
  .OTPWrapper input {
    width: 40px !important;
  }
  .submitOTP {
    width: 100%;
  }
  .VerifyOTP {
    font-size: 24px;
  }
  .enterOTPText {
    font-size: var(--font-small);
    width: 200%;
  }
}
