.cardWrapper {
  border-radius: 4px;
  border: 1px solid var(--Card-Stroke);
}
.salonCard {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1.5rem 1.188rem;
  box-sizing: border-box;
}
.shareOTPWrapper {
  background-color: var(--primary-color);
  color: var(--White);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
  font-weight: 400px;
  font-style: 16px;
  font-family: "Lato", sans-serif;
  padding: 0.625rem 1.5rem;
}
.shareOTPWrapper h3 {
  font-family: "Poppins";
  font-size: 28px;
  font-weight: 600;
}
.shareOTPWrapper p {
  font-family: "Lato";
  font-size: var(--font-medium);
  font-weight: 400;
}
.salonInfo {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.moreVertical {
  position: relative;
  cursor: pointer;
}
.options {
  position: absolute;
  top: 70%;
  right: 50%;
  padding: 12px 1.5rem;
  display: flex;
  width: 80px;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.08);
}
.options a {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}
.line {
  margin: 1.5rem 0;
  height: 1px;
  width: 100%;
  border: none;
  background-color: var(--Grey-40);
}
.infos {
  display: flex;
  gap: 16px;
}
.infos > img {
  width: 96px;
  height: 96px;
  border-radius: 50%;
}
.salon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Lato", sans-serif;
  gap: 8px;
}
.name {
  font-family: Lato;
  font-size: var(--fonts-large);
  font-weight: 600;
}
.location,
.timing {
  color: var(--grey-color);
  font-size: var(--font-medium);
  font-weight: 400;
}
.timing {
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  gap: 10px;
}
.timing p {
  font-size: 16px;
  color: black;
  display: flex;
  gap: 10px;
}

.writeReview,
.writeReview_mobo {
  font-family: "Poppins";
  font-size: var(--font-medium);
  font-weight: 600;
  text-decoration-line: underline;
  cursor: pointer;
}

.writeReview_mobo {
  display: none;
}

.detailSection {
  display: flex;
  gap: 20px;
}
.serviceDetails {
  min-width: 50%;
}
.serviceDetails .title {
  font-family: "Lato";
  font-weight: 600px;
  font-size: 16px;
  font-style: normal;
}
.serviceDetails .sDetail {
  display: flex;
  gap: 8px;
  font-size: var(--font-medium);
  font-family: "Lato", sans-serif;
  font-weight: 400;
  flex-wrap: wrap;
}
.serviceDetails .title {
  font-weight: 600px;
  font-size: 16px;
  font-style: normal;
}
.serviceDetails .sDetail {
  display: flex;
  gap: 8px;
  font-size: var(--font-medium);
  font-family: "Lato", sans-serif;
  font-weight: 400;
  flex-wrap: wrap;
}
.flexRow {
  flex-direction: row;
}
.flexCol {
  flex-direction: column;
}
.d_none {
  display: none;
}
.qty_Name,
.time_Amount {
  display: flex;
  align-items: center;
  gap: 4px;
}
.ellipse {
  height: 4px;
  width: 4px;
}
.proName {
  display: flex;
}
.servicePeriod,
.servicePrice,
.dateTime,
.proName {
  gap: 8px;
  color: var(--Grey-10);
  font-weight: 400;
  font-family: "Lato", sans-serif;
}
.others {
  display: flex;
  gap: 48px;
}
.bookedOn {
  display: flex;
  flex-direction: column;
  font-weight: 600px;
}
.status,
.paymentStatus h4 {
  gap: 16px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.buttons {
  max-width: 300px;
  width: 100%;
  display: flex;
  gap: 16px;
}
.paymentStatus h4 {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  gap: 4px;
}
.paymentStatus span {
  font-weight: 600;
}
.toggledetails {
  cursor: pointer;
  background: none;
  border: none;
  color: var(--primary-color);
  display: flex;
  justify-content: center;
  font-size: var(--font-medium);
  margin: 0;
  padding: 0;
}
.pro_Avatar {
  border-radius: 50%;
  width: 23px;
  height: 23px;
}
.timing_mobo {
  align-items: center;
  font-size: var(--font-medium);
  gap: 8px;
  font-family: "Lato";
  margin-bottom: 1rem;
  display: none;
}

@media only screen and (max-width: 768px) {
  .status {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .salon {
    gap: 0px;
  }
  .timing {
    display: none;
  }
  .timing_mobo {
    display: flex;
  }
  .salonCard {
    padding: 0;
    border: none;
  }
  .infos > img {
    height: 48px;
    width: 48px;
  }
  .line {
    margin: 1rem 0;
  }
  .detailSection,
  .others {
    flex-direction: column;
    gap: 16px;
  }
  .buttons {
    flex-direction: row-reverse;
  }
  .salon,
  .buttons,
  .buttons button {
    width: 100%;
  }
  .writeReview {
    display: none;
  }
  .writeReview_mobo {
    display: block;
    padding: 1rem 0;
    border-top: 1px solid var(--Grey-40);
    border-bottom: 1px solid var(--Grey-40);
  }
  .cardWrapper {
    border: none;
  }
  .shareOTPWrapper {
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding: 0.625rem 1rem;
    gap: 0px;
    font-family: "Lato";
    color: #ffffff;
    margin-bottom: 1rem;
    font-weight: 400px;
  }
  .shareOTPWrapper h3 {
    font-size: 24px;
  }
  .shareOTPWrapper p {
    font-size: var(--font-small);
  }
}
