@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Righteous&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@600&family=Righteous&family=Roboto&display=swap");
.container {
  min-height: 80vh;
  font-family: "Lato", sans-serif;
  padding: 6rem;
  box-sizing: border-box;
}
.bannerWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.bannerLeftSide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.bannerDetails {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  height: 266px;
  width: 80%;
}
.bannerDetails h1 {
  font-size: 60px;
  line-height: 64px;
  font-family: "Poppins", sans-serif;
  color: var(--primary-color);
}
.bannerDetails p {
  font-size: 20px;
  line-height: 32px;
  font-weight: 600;
}
.bannerImage {
  height: 100%;
  width: 50%;
}
.bannerImage img {
  height: 100%;
  width: -webkit-fill-available;
}
.learnMore {
  background: none;
  padding: 1rem 1.5rem;
  cursor: pointer;
  height: 48px;
  border: 1px solid #08080b;
  font-weight: 600;
  font-size: var(--font-medium);
}

@media only screen and (max-width: 1025px) {
  .bannerDetails {
    width: 100%;
  }
  .bannerDetails h1 {
    font-size: 36px;
    line-height: 42px;
  }
  .bannerDetails p {
    font-size: var(--font-small);
    line-height: 26px;
  }
}

@media only screen and (max-width: 600px) {
  .container {
    padding: 2rem;
  }
  .bannerWrapper {
    flex-direction: column;
    align-items: flex-start;
  }
  .bannerLeftSide{
    height: 30%;
  }
  .bannerDetails,
  .bannerImage,.bannerLeftSide {
    width: 100%;
  }
  .bannerDetails h1 {
    font-size: 24px;
    /* line-height: 46px; */
  }
  .bannerDetails p {
    font-size: var(--font-small);
    line-height: 24px;
    font-weight: 400;
  }
  .bannerImage{
    transform: scaleX(-1);
  }
}
