.acc_mob_back{
    display: none;
}
@media only screen and (max-width:767px){
    .acc_mob_back{
        display: block;
        margin-top: 55px;
    }
    .acc_mob_back>img{
        cursor: pointer;
    }
}