.mainContainer {
  width: 100%;
  font-family: var(--primary-font);
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header h2 {
  font-size: 22px;
}
.header p {
  font-size: 20px;
}
.rechart {
  position: relative;
  min-height: 450px;
}
.bar {
  width: 100%;
  display: flex;
}
.line {
  position: absolute;
  left: 0;
  bottom: 0;
}
/* styles.css */

.footer {
  display: flex;
  gap: 20px;
  padding: 10px;
}

.footerLeft {
  display: flex;
  align-items: center;
}

.footerRight {
  display: flex;
  align-items: center;
}

.salesColor {
  width: 20px;
  height: 20px;
  background: #52a2ff;
  margin-right: 5px;
  border-radius: 2px;
}

.appointmentColor {
  width: 20px;
  height: 20px;
  background: #6d747a;
  margin-right: 5px;
  border-radius: 2px;
}

@media only screen and (max-width: 700px) {
  .mainContainer {
  }
}
