.shareMain {
    width: 204px;
    height: 144px;
    position: absolute;
    top: 200px;
    left: 1100px;
    right: 0%;
    /* background-color: rgba(0, 0, 0, 0.7); */
    display: flex;
    justify-content: center;
    align-items: center;
    color: #08090A;
    font-family: 'Lato', sans-serif;
    z-index: 999;
    
}


/* .shareA {
    padding: 36px;
    max-height: calc(100vh - 20px); 
    overflow: auto; 
    background-color: #fff;
    width: 528px;
    box-sizing: border-box;
    border-radius: 4px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.shareA::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

.shareA::-webkit-scrollbar-thumb {
    background-color: #888; 
    border-radius: 5px; 
}

.shareA::-webkit-scrollbar-track {
    background-color: #ddd; 
    border-radius: 5px; 
} */
.shareB{margin-top: 10px; background-color: #fff; color: #08090A; } 
.shareB  :hover{background-color: #EBEDF0;}
.shareB h3{
    background-color: #FFFFFF;
    color: #08090A;
    font-family: "Lato";
    width: 180px;
height: 48px;
padding: 13px, 16px, 13px, 16px;
border-radius: 4px;
gap: 16px

}
.Delete{
    color: red !important; 
    font-size: large;
    background-color: #FFFFFF;
    color: #08090A;
    font-family: "Lato";
    width: 204px;
height: 48px;
padding: 13px, 16px, 13px, 16px;
border-radius: 4px;
gap: 16px
}
@media only screen and (max-width: 768px) {
    .shareMain{
     

        align-items: flex-end;
        }
}
/* .profileMain{
}
.profileA{
    width: 100%;
    border-radius: 12px 12px 0px 0px;
}
.profileC{
    display: none;
}
.profileD{
    padding-top: 0px;
    border: none;
}
.profileBA{
    flex-basis: 90%;
    text-align: left;
} */