.WriteReview {
  font-family: "Lato", sans-serif;
  width: 440px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.modalTitle {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
}
.salonInfo {
  display: flex;
  align-items: center;
  gap: 12px;
}
.salonProfileImg {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}
.salonName {
  font-size: var(--font-medium);
  font-weight: 600;
}
.appointmentDate {
  display: flex;
  color: var(--Grey-10);
  font-size: var(--font-small);
  font-weight: 400;
  gap: 8px;
}

.line {
  height: 1px;
  background: var(--Grey-40);
  margin: 1.5rem 0;
  border: none;
}
.Rating,
.Review,
.ReviewTitle,
.ReviewWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.ReviewWrapper {
  gap: 24px;
}
.titleInput {
  padding: 13px 16px;
  border-radius: 4px;
  border: 1px solid var(--Grey-40);
}

.textarea {
  display: flex;
  width: 100%;
  height: 144px;
  padding: 12px 16px 108px 16px;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border-radius: 4px;
  resize: none;
  border: 1px solid var(--Grey-30, #ced4da);
}
.textarea:focus,
input:focus {
  outline: none;
}
.textarea::-webkit-scrollbar {
  display: none;
}

.button {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
}

.rating{
    display: flex;
    flex-direction: row;
    gap: 6px;
}
.star img{
  width: 24px;
  height: 24px;
}
.staractive img {
  filter: invert(100%);
}

@media only screen and (max-width: 600px) {
    .WriteReview{
        width: 100%;
    }
    .line{
        margin: 1rem 0;
    }
    .ReviewWrapper{
        gap: 16px;
    }
    .textarea{
        height: 88px;
    }
}