@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Righteous&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@600&family=Righteous&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Righteous&family=Roboto&display=swap&family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* change colors, its just a template */

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  background-color: none;
  border: none;
}

:root {
  --primary-color: #007bff;
  --secondary-color: #6c757d;
  --black-color: #08090a;
  --grey-color: #6d747a;
  --Grey-10: #6d747a;
  --Grey-30: #ced4da;
  --Grey-40: #ebedf0;
  --Grey-50: #dce6e9;
  --light-blue: #edf2f7;
  --light-color: #f3f3f3;
  --Card-Stroke: #eaeff2;
  --White: #fff;
  --Success-Green: #3aab7c;
  --Error-Red: #de2929;
  --font-small: 14px;
  --font-medium: 16px;
  --fonts-large: 18px;
  --navbar-height: 90px;
  --page-padding-x: 1rem;
  --z-index-modal: 5000;
}

@media only screen and (min-width: 1100px) {
  :root {
    --page-padding-x: 60px;
  }
}

@media only screen and (max-width: 700px) {
  :root {
    --navbar-height: 64px;
  }
  .zeroResponse {
    font-size: 1rem;
  }
}
.page-section {
  padding-left: var(--page-padding-x) !important;
  padding-right: var(--page-padding-x) !important;
}

.page-container {
  margin-top: var(--navbar-height);
}

.zeroResponse {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-family: "Lato";
  margin: 2rem auto;
  font-weight: bolder;
  height: 40vh;
}
