
/* change colors, its just a template */
:root {
  --primary-color: #007bff;
  --secondary-color: #6c757d;

  --font-small: 14px;
  --font-medium: 16px;
  --fonts-large: 18px;
}

* {
  margin: 0;
  padding: 0;
}
