@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.user_profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 4px;
    border: 1px solid #EAEFF2;
    background: #FFF;
    padding: 30px;
    flex-basis: 22%;
    height: fit-content;
    font-family: 'Lato', sans-serif;
}

.user_img_main {
    position: relative;
    border-radius: 50%;
}

.user_img {
    border-radius: 50%;
    height:144px;
    width: 144px;
}

.user_img_edit {
    border-radius: 50%;
    position: absolute;
    display: flex;
    right: 5%;
    bottom: 5%;
    padding: 10px;
    justify-content: center;
    align-items: center;
    border: 2px solid #FFF;
    background: #0D69D7;
    cursor: pointer;
}

.user_name{
    font-size: 20px;
    padding: 15px 0px;
    font-weight: 600;
    color: #08090A;
}

.user_borderLine{
    width: 100%;
    height: 1px;
    background: #EBEDF0;
    margin: 15px 0px;
}

.user_sign_btn{
    color: #DE2929;
    background-color: unset;
    border: unset;
    cursor: pointer;
}

@media only screen and (max-width:767px){
    .user_profile{
        flex-basis: 100%;
        border: none;
        border-bottom: 1px solid #EAEFF2;
        color: #6D747A;
        margin-bottom: 36px;
    }

    .user_borderLine{
        display: none;
    }

    .user_sign_btn{
        display: none;
    }
}