.careerBuildBox{
    margin-top: 182px;
    margin-left: 60px;
    width: 1320px;
    height: 389px;
    display: flex;
    justify-content: space-between;
}
.joinus{
    width: 575px;
    height: 276px;
    display: flex;
    flex-direction: column;
    gap: 36px;
}
.subHeader{
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.subHeader p{
    width: 82px;
    height: 36px;
    font-size: 24px;
    font-weight: 600;
    font-family: Lato;
    color: #434141;
    line-height: 36px;
}
.subHeader h3{
    height: 42px;
    width: 100%;
    font-size: 28px;
    font-weight: 600;
    font-family: Poppins;
    line-height: 42px;
}
.para{
    width: 100%;
    height: 90px;
    font-size: 20px;
    font-family: Lato;
    font-weight: 400;
    line-height: 30px;
    text-align: justify;
    color: #6D747A;
}
.joinus button{
    height: 48px;
    width: 208px;
    padding: 16px 20px 16px 20px;
    border-radius: 4px;
    background-color: #08080B;
    display: flex;
    gap:10px;
    cursor: pointer;
   
}
.joinus button b{
    width: 200px;
    height: 16px;
    color: #FFFFFF;
    font-size: 16px;
    font-family: Poppins;
    font-weight: 600;
    text-align: center;
    letter-spacing: -1%;
    line-height: 16px;

}
.careerimage{
    width: 606px;
    height: 389px;
    border-radius: 10px;
}
.currentJobBox{
    width: 100%;
    height: 714px;
    padding: 90px 60px 90px 60px;
    display: flex;
    gap: 10px;
}
.currentOpeningBox{
    width: 1330px;
    height: 534px;
    display: flex;
    flex-direction: column;
    gap: 36px;
}
.currentOpeningBox h3{
    width: 254px;
    height: 42px;
    font-size: 28px;
    font-family: Poppins;
    font-weight: 600;
    line-height: 42px;
    color: #000000;
}
.jobBox{
    width: 100%;
    height: 456px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 35px;
}
.jobContainer{
    padding: 20px;
    width: 642px;
    height: 136px;
    border: 1px solid #CED4DA;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
}
.infoBox{
    width: 408px;
    height: 88px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.infoBox h4{
    max-width: 100%;
    height: 32px;
    font-size: 20px;
    font-family: Lato;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 1%;
    color: #08090A;
}
.arrow{
    color: #0D69D7;
    width: 36px;
    height: 36px;
}
.jobDetails{
    width: 100%;
    height: 52px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.location{
    width: 100%;
    height: 24px;
    display: flex;
    align-items: center;
    gap: 4px;
}
.location p{
    height: 24px;
    max-width: 100%;
    font-size: 16px;
    font-family: Lato;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 1%;
    color: #6D747A;
}
.postDetails{
    width: 100%;
    height: 24px;
    display: flex;
    align-items: center;
    gap: 15px;
}
.postDetails p{
    height: 24px;
    font-size: 16px;
    font-family: Lato;
    font-weight: 600;
    line-height: 24px;
    color: #6D747A;
    letter-spacing: 1%;
}
.verticalLine{
    border-left: 1px solid #CED4DA;
    height: 19px;
}
