.mainContainer {
  width: 100%;
  margin-bottom: 100px;
}

.container {
  max-width: 1440px;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  position: relative;
  display: flex;
  gap: 20px;
}
.downContainer {
  flex-grow: 1;
}
.left {
  max-width: 100px;
  width: 100%;
}
@media only screen and (max-width: 700px) {
  .left,
  .Navbar {
    display: none;
  }
}
