/* AppointmentDetails.module.css */

.mainContainer {
  max-width: 424px;
  width: 100%;
  height: 100%;
  font-family: var(--primary-font);
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.heading {
  font-weight: 600;
  font-size: 20px;
}
.dateWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.existingClient {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.addNewCliente {
  font-weight: 600;
  color: rgb(8, 89, 104);
  font-size: 20px;
  width: 100%;
  display: flex;
  gap: 10px;
}
.priceWrapper {
  width: 100%;
  display: flex;
  gap: 10px;
}

.price,
.discount,
.selectPrice {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.price p {
  height: 48px;
  border: 1px solid var(--Grey-30);
  height: 100%;
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 8px;
}
.professional {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
