.time_slick .slick-slider{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding-left: 70px;
}

.time_slick .slick-list{
    width: 94%;
}

.time_slick .slick-next::before,.time_slick .slick-prev::before,.time_slick .slick-next:hover,.time_slick .slick-prev:hover{
    content: '' !important;
}

.time_slick .slick-prev:hover,.time_slick .slick-prev:focus,.time_slick .slick-next:hover,.time_slick .slick-next:focus {
    background-color: white;
    width: 48px;
    height: 48px; 
    border-radius: 50%;
    background-image: url(../../../assets/images/SalonDetail/chevron-right.svg);
    background-repeat: no-repeat;
    background-position: center center;
}

.time_slick .slick-prev:hover,.time_slick .slick-prev:focus{
    background-image: url(../../../assets/images/SalonDetail/chevron-right.svg);
    transform: rotate(-180deg);
}

.time_slick .slick-next{
    right: 0% !important;
    z-index: 9999 !important;
    background-color: white;
    width: 48px;
    height: 48px; 
    border-radius: 50%;
    background-image: url(../../../assets/images/SalonDetail/chevron-right.svg);
    background-repeat: no-repeat;
    background-position: center center;
}

.time_slick .slick-prev{
    left: -1% !important;
    z-index: 9999 !important;
    background-color: white;
    width: 48px;
    height: 48px; 
    border-radius: 50%;
    background-image: url(../../../assets/images/SalonDetail/chevron-right.svg);
    transform: rotate(-180deg);
    background-repeat: no-repeat;
    background-position: center center;
}
.rotateImg{
    transform: rotate(180deg);
}
.time_slick .slick-prev{
    top: 13% !important;
}
.time_slick .slick-next{
    top: 48% !important;
}
@media only screen and (min-width:1600px){
    .time_slick .slick-next{
        right: 4.5% !important;
    }
}
@media only screen and (max-width:767px){
    .time_slick .slick-prev:hover,.time_slick .slick-prev:focus,.time_slick .slick-next:hover,.time_slick .slick-next:focus {
        background-color: white;
        width: 24px;
        height: 24px; 
    }
    
    .time_slick .slick-prev:hover,.time_slick .slick-prev:focus{
        height: 24px; 
        background-image: url(../../../assets/images/SalonDetail/chevron-right.svg);
    transform: rotate(-180deg);
    }
    
    .time_slick .slick-next{
        width: 24px;
        height: 24px; 
        height: 24px; 
        right: 6% !important;
    }
    
    .time_slick .slick-prev{
        left: -1% !important;
        z-index: 9999 !important;
        background-color: white;
        width: 24px;
        height: 24px; 
        height: 24px; 
        background-image: url(../../../assets/images/SalonDetail/chevron-right.svg);
    transform: rotate(-180deg);
    }

    .time_slick .slick-slider{
        padding-left: 0px;
        justify-content: center;
        width: 100%;
    }
    
    .time_slick .slick-list{
        width: 85%;
    }
    .time_slick .slick-track{
        transform: translate3d(0px, 0px, 0px);
    }
}
@media only screen and (max-width:440px){
    .time_slick .slick-prev{
        left: -5% !important;
    }
    .time_slick .slick-next{
        right: -5% !important;
    }
}
