.container{
    position: inherit;
    margin-top: 160px;
    height: 615px;
    width: 100%;
    padding-left: 60px;
}
.container img{
    position: absolute;
    top: 160px;
    height: 614px;
    width: 613px;
    background-color: #0000001A;
    border-radius: 10px;


}