
.salon_page {
    padding: 100px 60px;
    font-family: 'Lato', sans-serif;
}

.salon_name {
    font-family: "Poppins", sans-serif;
    font-size: 56px;
    font-weight: 600;
}

.salon_info{
    font-weight: 400;
    margin-top: 6px;
    display: flex;
    justify-content: start;
    gap: 10px;
    align-items: center;
}

.salon_star{
    display: flex;
    justify-content: center;
    gap: 4px;
    align-items: center;
}

.salon_images{
    margin-top: 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.salon_image_slider{
    width: 49%;
    display: flex;
    align-items: flex-start;
    position: relative;
}

.salon_images_right{
    display: flex;
    width: 49%;
    justify-content: start;
    gap: 16px;
    align-items: center;
    flex-wrap: wrap;
}

.salon_image_slider img{
    width: 100%;
    height: 640px;
    border-radius: 5px;
}

.salon_images_right img{
    width: 48.5%;
    height: 312px;
    border-radius: 5px;
}

.salon_middle{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 90px;
}

.salon_mobView{
    display: none;
}

.salon_slider_index{
    position: absolute;
    width: 101.5%;
    padding: 12px 0px;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    background: rgba(0, 0, 0, 0.60);
    bottom: 0.5%;
    border-radius: 0px 0px 5px 5px;
    left: 0%;
    color: #fff;
}

.book_flowMob{
    display: none;
}

@media only screen and (max-width:767px){
    .salon_page{
        padding: 18px 24px;
    }

    .salon_image_slider{
        width: 100%;
    }

    .salon_image_slider img{
        height: unset;
    }

    .salon_images_right, .salon_pcView{
        display: none;
    }

    .salon_name{
        font-size: 24px;
        margin-top: 12px;
    }

    .salon_mobView{
        font-size: 14px;
        font-weight: 400;
        color: #08090A;
    }

    .salon_info{
        display: block;
    }

    .salon_star{
        justify-content: start;
    }

    .salon_infoA, .salon_infoB{
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 8px;
        margin-top: 8px;
    }

    .salon_infoA div:last-child{
        color: #0D69D7;
        cursor: pointer;
    }

    .salon_infoB div:first-child{
        color: #DE2929;
    }

    .salon_middle{
        margin-top: 36px;
    }

    .salon_slider_index{
        padding: 6px 0px;
        font-size: 14px;
    }

    .book_flowMob{
        display: block;
    }
}