@import url("https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@600&family=Righteous&family=Roboto&display=swap");

.container {
  font-family: "Lato", sans-serif;
  padding: 2rem 6rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

/* recommended for you css */
.recommended {
  display: flex;
  flex-direction: column;
}
.rmdWrapper {
  margin-top: 3rem;
  margin-bottom: 0.75rem;
  box-shadow: 0px 4px 16px 0px #00000014;
  padding: 0.75rem;
}

.rmdBox {
  display: flex;
  gap: 66px;
  overflow-x: scroll;
}

.rmdBox::-webkit-scrollbar,
.trWrapper::-webkit-scrollbar {
  background-color: var(--light-color);
  width: 0px;
  height: 0px;
}
.rmdBox::-webkit-scrollbar-thumb,
.trWrapper::-webkit-scrollbar-thumb {
  background-color: var(--secondary-color);
  border-radius: 8px;
  opacity: 0;
  height: 0px;
  width: 0px;
  border: 2px solid var(--light-color);
}
.rmdHeading {
  font-size: 28px;
  font-weight: 600;
}
.rmdItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 126px;
  width: 125px;
  transition: all ease-in-out 0.3s;
  cursor: pointer;
  border-radius: 4px;
  padding: 0.75rem 0.4rem;
  user-select: none;
  gap: 8px;
}
.rmdItem:hover {
  background: var(--light-blue);
}
.rmdItem img {
  height: 48px;
  width: 48px;
  /* object-fit: cover; */
}
.rmdItem h4 {
  text-align: center;
  font-weight: 500;
  font-size: var(--font-small);
  font-family: "Lato", sans-serif;
}
.scrollRight {
  height: 36px;
  cursor: pointer;
}
.scroll_left {
  transform: scaleX(-1);
}

/* top-rated hair salons css */
.top-ratedSalons {
  position: relative;
  margin-top: 2rem;
}
.trWrapper {
  display: flex;
  gap: 28px;
  overflow-x: scroll;
  margin-top: 2rem;
}

.trItemImg {
  height: 178px;
  width: 312px;
}
.trItemDetails {
  padding: 0.75rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.trScrollRight {
  position: absolute;
  right: 1%;
  top: 50%;
  height: 48px;
  cursor: pointer;
}
.trScrollRight_mobo {
  display: none;
}
.rmdWrapperMobo{
  display: none;
}
/* media queries */

@media only screen and (max-width: 770px) {
  .container {
    padding: 0rem 1rem;
  }
  .rmdWrapperMobo{
    overflow-x: scroll;
    height: 220px;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 3rem;
    margin-bottom: 0.75rem;
    box-shadow: 0px 4px 16px 0px #00000014;
    padding: 0.75rem;
  }
  .rmdWrapper{
    display: none !important;
  }
}

@media only screen and (max-width: 600px) {
  .rmdHeading {
    font-size: var(--fonts-large);
  }

  .rmdBox {
    height: 100%;
    width: 100%;
    gap: 20px;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .rmdItem{
    width: 84px;
    height: 84px;
    padding: 12px 8px;
    font-size: 12px;
    line-height: 17px;
  }
  .rmdItem img {
    width: 24px;
    height: 24px !important;
    object-fit: cover;
  }
  .rmdItem h4 {
    font-size: var(--font-small);
    font-weight: 100;
  }
  .scrollRight {
    display: none;
  }
  .trScrollRight {
    display: none;
  }
  .trHeadWrapper {
    display: flex;
    justify-content: space-between;
  }
  .trScrollRight_mobo {
    display: block;
    height: 24px;
    width: 24px;
  }
  .scroll_left,
  .scroll_right {
    display: none;
  }
}

/* Carousal css */

.carousel-item-padding-40-px {
  .react-multiple-carousel__arrow--left {
    left: calc(1% + 1px);
    transform: scale(-1);
  }

  .react-multiple-carousel__arrow--right {
    right: calc(1% + 1px);
  }

  .react-multiple-carousel__arrow,
  .react-multiple-carousel__arrow:hover {
    background: transparent;
    background-image: url("../../../assets/images/icons/ScrollRight.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .react-multiple-carousel__arrow::before {
    content: "";
    color: var(--black-color);
  }
}
.custom-dot-list-style {
  position: relative !important;
}
.custom-dot-list-style .react-multi-carousel-dot--active button {
  background: var(--primary-color) !important;
}
.custom-dot-list-style li button {
  border: none !important;
  border-width: 0px !important ;
}
.carouselDot {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  opacity: 1;
  padding: 5px 5px 5px 5px;
  box-shadow: none;
  transition: background 0.5s;
  padding: 0;
  margin: 0;
  margin-right: 6px;
  outline: 0;
  cursor: pointer;
  border: none;
}
.dotActive {
  background: var(--primary-color);
}

.rightArrow {
  position: absolute;
  outline: 0;
  transition: all 0.5s;
  border-radius: 35px;
  z-index: 1000;
  border: 0;
  min-width: 43px;
  min-height: 43px;
  opacity: 1;
  cursor: pointer;
  right: 1%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../../../assets/images/icons/ScrollRight.svg");
}
.leftArrow {
  position: absolute;
  outline: 0;
  transition: all 0.5s;
  border-radius: 35px;
  z-index: 1000;
  border: 0;
  min-width: 43px;
  min-height: 43px;
  opacity: 1;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  left: 1%;
  transform: scale(-1);
  background-image: url("../../../assets/images/icons/ScrollRight.svg");
}
@media only screen and (max-width: 767px) {
  .rmdWrapper {
    height: 190px;
    overflow-x: scroll;
  }
  .rmdWrapper ul {
    height: 100%;
    flex-wrap: wrap;
    overflow-x: scroll !important;
    flex-direction: column;
    gap: 16px;
  }

  .rmdWrapper ul::-webkit-scrollbar {
    display: none;
  }

  .carousel-item-padding-40-px {
    width: 80px !important;
    flex: none !important;
  }
  .custom-dot-list-style {
    display: none !important;
  }
}
