.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
}
.AuthImage,
.AuthContent {
  width: 50%;
  height: 100%;
}
.AuthImage{
  background-image: url("../../assets/images/AuthImages/Hero_Signup.png");
  background-size: cover;
  background-position:center;
  background-repeat: no-repeat;
}
.AuthContent {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 36px;
}
.arrowLeft{
 display: none;
}
@media only screen and (max-width: 768px) {
  .AuthContent {
    padding: 1rem;
    box-sizing: border-box;
  }
}
@media only screen and (max-width: 440px) {   
    .AuthContent {
        width: 100%;
      }
    .AuthImage {
      display: none;
    }
    .arrowLeft{
      display: block;
      position: absolute;
      top: 5%;
      left:2%;
    }
}
