.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
}
.AuthImage,
.PartnerAuthImage {
  width: 100%;
  height: 100%;
}
.AuthImage {
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
.PartnerAuthImage {
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
.AuthContent {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 36px;
}
.arrowLeft {
  display: none;
}
@media only screen and (max-width: 768px) {
  .AuthContent {
    padding: 1rem;
    box-sizing: border-box;
  }
  .AuthImage,
  .PartnerAuthImage {
    display: none;
  }
}
@media only screen and (max-width: 440px) {
  .AuthContent {
    width: 100%;
  }
  .AuthImage,
  .PartnerAuthImage {
    display: none;
  }
  .arrowLeft {
    display: block;
    position: absolute;
    top: 3%;
    left: 3%;
  }
}
