@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Righteous&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@600&family=Righteous&family=Roboto&display=swap");
.container {
  font-family: "Lato", sans-serif;
  padding: 6rem;
  box-sizing: border-box;
}
a {
  cursor: pointer;
}
.bannerWrapper {
  display: flex;
  align-items: center;
}
.bannerDetails {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 342px;
}
.bannerDetails .textWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 80%;
  height: 100%;
}
.bannerDetails h1 {
  font-size: 56px;
  line-height: 64px;
  font-family: "Poppins", sans-serif;
  margin: 24px 0px;
}
.bannerDetails small {
  font-size: var(--font-medium);
  display: flex;
  align-items: center;
  gap: 8px;
}
.bannerDetails small img {
  height: 24px;
  width: 24px;
}
.bannerDetails small p, .bannerDetails p, .bannerDetails small{
  line-height: 32px;
  font-size: var(--fonts-large);
}

.bannerDetails .desc {
  font-weight: 600;
  font-size: 20px;
}
.bannerImage {
  width: 50%;
  height:600px;
  background-image: url("../../../assets/images/appDownloadImages/AppBanner.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.bannerImage img {
  height: fit-content;
  width: 100%;
  object-fit: contain;
}
.socialLinks {
  display: flex;
  gap: 20px;
  margin: 24px 0px;
}
.socialLinks a {
  height: 52px;
}

/* media queries */
@media only screen and (max-width: 1025px) {
  .bannerDetails h1 {
    font-size: 46px;
    line-height: 46px;
  }
  .socialLinks a img {
    width: 120px;
  }
}
@media only screen and (max-width: 770px) {
  .container {
    padding: 2rem 1rem;
  }
}
@media only screen and (max-width: 600px) {
  .bannerDetails h1 {
    font-size: 28px;
    line-height: 42px;
  }
  .bannerWrapper {
    flex-direction: column;
    /* background-image: none; */
  }
  .bannerDetails {
    height: 50%;
    width: 100%;
  }

  .bannerDetails small img {
    height: 24px;
    width: 24px;
  }
  .bannerImage {
    width: 100%;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .bannerDetails .textWrapper {
    width: 100%;
  }
  .bannerDetails .desc {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
  }
  .socialLinks {
    display: flex;
    gap: 12px;
    margin: 24px 0px;
  }
  .socialLinks a {
    width: 49%;
    height: 52px;
  }

  .socialLinks a img{
    width: 100%;
  }
  .bannerDetails small p, .bannerDetails p, .bannerDetails small{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }
}
