.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.imageWrapper {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid #ccc;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.uploadButton {
  width: 23px;
  height: 21px;
  position: absolute;
  bottom: 15px;
  right: 15px;
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.uploadButton img {
  width: 20px;
  height: 20px;
}

.fileInput {
  display: none;
}

.submitButton {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submitButton:hover {
  background-color: #0056b3;
}
