.salon_LightBox ._2c50p{
    flex: 0 0 15% !important;
    width: 57% !important;
    margin: auto !important;
}

.salon_LightBox ._2qwzr{
    height: 80%;
    margin-top: 100px;
}
.salon_LightBox ._-cAh3{
    min-width: 22% !important;
    height: 118px;
    border-radius: 6px;
    border: 2px solid #FFF;
    cursor: pointer;
    margin-right: 24px !important;
}

.salon_LightBox ._-LJ2W{
    height: 95% !important;
}

.salon_LightBox ._3iVQ0{
    height: 95% !important;
    text-align: center;
}

.salon_LightBox ._-cAh3 img{
    border-radius: 6px;
}

.salon_LightBox ._3iVQ0 ._t1897{
    width: 70%;
    object-fit: cover !important;
}

.salon_LightBox ._ZTBlf{
    opacity: 1 !important;
}

.salon_LightBox ._1cqA3{
    left: 6% !important;
}

.salon_LightBox ._2zEIf{
    right: 6% !important;
}