.book_flowMain {
  padding: 100px 60px;
  font-family: "Lato", sans-serif;
  display: flex;
  justify-content: start;
  align-items: flex-start;
  gap: 24px;
  color: #08090a;
  overflow-x: hidden;
}

.book_flowMainA {
  width: 67%;
}

.book_flowMainB {
  width: 31%;
}

.book_flowA {
  font-family: "Poppins", sans-serif;
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 24px;
}
.showError{
  color: red !important;
}

.book_flowB {
  width: 50%;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 8px;
  margin-bottom: 36px;
}

.book_flowBA {
  width: 33%;
  height: 6px;
  border-radius: 100px;
  background: #ebedf0;
}

.activeBook_flowBA {
  background: #0d69d7;
}

.service_cardMain {
  padding: 24px;
  border: 1px solid #ebedf0;
}

.service_cardA {
  font-family: "Poppins", sans-serif;
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 8px;
}

.service_cardB {
  font-weight: 400;
  margin-bottom: 16px;
}

.service_cardC {
  padding: 16px 0px;
  border-top: 1px solid #ebedf0;
}

.service_cardCA,
.service_cardD {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 400;
}

.service_cardCB {
  color: #6d747a;
  font-size: 14px;
  font-weight: 400;
}

.service_cardD {
  font-size: 16px;
  font-weight: 600;
  padding: 16px 0px;
  border-top: 1px solid #ebedf0;
  border-bottom: 1px solid #ebedf0;
}

.book_flowMob {
  display: none;
}

.worker_detailA {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  border-radius: 4px;
  border: 1px solid #ebedf0;
}

.worker_detailAD {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 12px;
}

.worker_detailAA {
  padding: 10px;
  border-radius: 50%;
  border: 2px solid #6d747a;
}

.worker_detailAB div:first-child {
  font-weight: 600;
  color: #08090a;
  margin-bottom: 4px;
}

.worker_detailAB div:last-child {
  font-weight: 400;
  font-size: 14px;
  color: #6d747a;
}

.worker_detailAC input {
  width: 24px;
  height: 24px;
}

.worker_detailB {
  padding: 0px 24px;
  border: 1px solid #ebedf0;
  margin-top: 24px;
}

.worker_compA {
  padding: 24px 0px;
  border-bottom: 1px solid #ebedf0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.worker_compAA {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 12px;
}

.worker_compAA>img {
  border-radius: 50%;
  width: 48px;
  height: 48px;
}

.worker_compACB,
.worker_compStar {
  font-weight: 400;
  font-size: 14px;
  gap: 8px;
  display: flex;
  justify-content: start;
  align-items: center;
  color: #6d747a;
}

.worker_compACA {
  font-weight: 600;
  margin-bottom: 4px;
  color: #08090a;
}

.worker_compACBA {
  font-weight: 400;
  font-size: 14px;
  gap: 8px;
  display: flex;
  justify-content: start;
  align-items: center;
  color: #6d747a;
}

.worker_compStar {
  gap: 3px;
}

.worker_compAB input {
  width: 24px;
  height: 24px;
}

.worker_prevBooked {
  display: flex;
  padding: 4px 12px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background: #ebedf0;
  color: var(--Black, #08090a);
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 4px;
}

.worker_detailC {
  padding: 36px 0px;
  margin-top: 36px;
  border-top: 1px solid #ebedf0;
}

.service_timeA {
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  margin-bottom: 12px;
}

.service_timeB {
  font-weight: 400;
  line-height: 24px;
  text-align: justify;
}

.service_timeC {
  padding: 24px 0px;
  font-size: 18px;
  font-weight: 600;
}

.service_timeE {
  border-radius: 4px;
  background: #f8f9fa;
  padding: 10px 24px;
  font-weight: 400;
  line-height: 24px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 16px;
  margin-top: 24px;
}

.service_timeEA>span {
  color: #0d69d7;
  font-weight: 600;
}

.service_timeF {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  /* overflow-y: scroll; */
  overflow-x: hidden;
  height: 125px;
}

.service_timeF div {
  font-size: 16px !important;
}

.timeMain {
  width: 136px;
  height: 48px;
  border-radius: 4px;
  border: 1px solid #eaeff2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  cursor: pointer;
}

.timeMain label {
  all: unset;
}

.activeTimeMain {
  border: 1px solid #0d69d7 !important;
  background: rgba(13, 105, 215, 0.1) !important;
  color: #0d69d7 !important;
}

.service_cardF,
.service_cardG {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 8px;
  padding: 16px 0px;
  border-top: 1px solid #ebedf0;
  border-bottom: 1px dotted #ebedf0;
}

.service_cardG {
  border: none;
  color: #6d747a;
  font-weight: 400;
}

.service_cardGA {
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.service_cardGA img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.service_dateA {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4px;
  font-weight: 400;
  border-radius: 4px;
  border: 1px solid #eaeff2;
  cursor: pointer;
}

.visitor_detailA {
  padding: 24px 0px;
  margin-top: 24px;
  border-top: 1px solid #ebedf0;
  border-bottom: 1px solid #ebedf0;
}

.visitor_detailA:last-child {
  margin-top: 0px;
  border-top: none;
}

.visitor_detailAA {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 16px;
}

.visitor_detailAB {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 8px;
  font-weight: 400;
  margin-bottom: 16px;
  line-height: 24px;
}

.visitor_detailAB:last-child {
  margin-bottom: 0px;
}

.mb_0 {
  margin-bottom: 0px;
}

.visitor_detailAC {
  margin: 24px 0px;
}

.visitor_detailACA {
  font-weight: 600;
  margin-bottom: 8px;
}

.visitor_detailACB {
  width: 35%;
}

.final_billMain {
  margin-top: 36px;
  border-top: 1px solid #ebedf0;
}

.final_billA {
  margin-top: 36px;
}

.final_billAA {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
}

.final_billAB {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 8px;
  margin-top: 16px;
}

.final_billAB>input {
  width: 24px;
  height: 24px;
}

.final_billABA {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 4px;
  flex-direction: column;
}

.final_billABA div:first-child {
  font-weight: 400;
}

.final_billABA div:last-child {
  font-size: 14px;
  color: #6d747a;
  font-weight: 400;
}

.final_billBA {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 24px;
}

.final_billBB {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 24px;
}

.final_billC {
  padding: 24px;
  border: 1px solid #ebedf0;
  border-radius: 4px;
}

.final_billCA {
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 16px;
}

.final_billCB {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 0px;
  border-top: 1px dotted #ebedf0;
}

.final_billCBD {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 12px;
}

.final_billCBA {
  display: flex;
  width: 24px;
  height: 24px;
  padding: 0px 3px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 1px solid #eaeff2;
}

.final_billCBB {
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 4px;
  flex-direction: column;
}

.final_billCBB div:first-child {
  font-weight: 400;
}

.final_billCBB div:last-child {
  font-size: 14px;
  color: #6d747a;
  font-weight: 400;
}

.final_billCBC>input {
  width: 24px;
  height: 24px;
}

.final_billCC {
  padding: 24px 0px;
  margin-bottom: 24px;
  border-top: 1px dotted #ebedf0;
  border-bottom: 1px dotted #ebedf0;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 12px;
  color: #0d69d7;
}

.final_billCCC {
  padding-bottom: 0px;
  border-bottom: none;
  margin-bottom: 0px;
}

.final_billCD {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.final_billCDA {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 12px;
  color: #6d747a;
  font-weight: 400;
}

.final_billDMainMid {
  padding: 24px 0px;
  margin: 24px 0px;
  border-top: 1px dotted #ebedf0;
  border-bottom: 1px dotted #ebedf0;
}

.bill_sumA {
  font-family: "Poppins", sans-serif;
  font-size: 28px;
  font-weight: 600;
  border-bottom: 1px solid #ebedf0;
  padding-bottom: 24px;
}

.bill_sumB {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
  font-size: 18px;
  font-weight: 600;
  padding: 24px 0px;
  border-bottom: 1px solid #ebedf0;
}

.bill_sumB>img {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.bill_sumC,
.bill_sumD,
.bill_sumE,
.bill_sumF {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 400;
  padding-top: 24px;
  padding-bottom: 16px;
  border-bottom: 1px dotted #ebedf0;
}

.appliedOffer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.offerDetails {
  display: flex;
  gap: 4px;
  flex-direction: column;
}

.bill_sumFB {
  display: flex;
  flex-direction: row;
}

.applyOfferContainer {
  display: flex;
  flex-direction: column;
}

.applyOffer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.discountAmount {
  color: var(--Grey-Grey-10, #6D747A);
  font-family: "Lato";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  /* 21px */
  letter-spacing: 0.14px;
  text-decoration: line-through;
  margin-right: 8px;
}

.firstLine {
  display: flex;
  align-items: center;
  gap: 8px;
}

.offerName {
  color: var(--Grey-Black, #08090A);
  font-family: "Lato";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 24px */
  letter-spacing: 0.16px;
}

.firstLine img,
.deleteOption img {
  width: 24px;
  height: 24px;
}

.secondLine {
  color: var(--Green-Text, #009758);
  font-family: "Lato";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 21px */
}

.bill_sumCA,
.bill_sumDA {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 6px;
}

.bill_sumD,
.bill_sumE,
.bill_sumF {
  padding-top: 16px;
}

.bill_sumE {
  font-weight: 600;
}

.bill_sumEA {
  font-size: 14px;
  font-weight: 400;
  color: #6d747a;
  text-decoration: underline;
  cursor: pointer;
}

.bill_sumEB {
  font-weight: 400;
}

.bill_sumF {
  border-bottom: 4px solid #ebedf0;
  font-weight: 600;
  font-size: 16px;
}

.bill_sumFC,
.bill_sumFD {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 8px;
  font-weight: 400;
}

.bill_sumFD {
  color: #0d69d7;
  font-weight: 600;
}

.bill_sumG {
  padding-top: 24px;
}

.bill_sumG>button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 24px;
  border-radius: 4px;
  background: black;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #fff;
  border: none;
  width: 100%;
  cursor: pointer;
}

.bill_sumH {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 16px;
  font-weight: 400;
  padding: 10px 24px;
  border-radius: 4px;
  background: #f8f9fa;
  margin-top: 24px;
  line-height: 24px;
}

.bill_sumHA>span {
  color: #0d69d7;
  font-weight: 600;
  cursor: pointer;
}

.service_cardBack {
  text-align: center;
  color: #08090a;
  font-weight: 600;
  font-family: "Poppins", "Sans-Serif";
  text-decoration: underline;
  margin-top: 16px;
  cursor: pointer;
}

.service_timeMonth {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-bottom: 24px;
  width: 100%;
  font-weight: 600;
}

.service_timeMonth img {
  cursor: pointer;
}

.payMain {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.payMainA {
  width: 424px;
  text-align: center;
}

.payMainC {
  font-weight: 400;
  margin-top: 24px;
  margin-bottom: 12px;
  line-height: 24px;
}

.payMainC span:first-child {
  font-weight: 600;
}

.payMainC span:last-child,
.payMainD span {
  font-weight: 600;
  color: #0d69d7;
}

.payMainD {
  line-height: 24px;
}

.payMainE {
  padding: 24px;
  border: 1px solid #ebedf0;
  margin-top: 36px;
}

.payMainEA {
  padding-bottom: 24px;
  margin-bottom: 24px;
  border-bottom: 1px solid #ebedf0;
  font-size: 20px;
  font-weight: 600;
}

.addedServiceA {
  padding: 12px 0px;
  border-top: 1px solid #ebedf0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 400;
}

.addedServiceB {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 4px;
}

.payMainEB {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 12px;
  padding-bottom: 12px;
}

.payMainEC {
  padding: 12px 0px;
  border-top: 1px solid #ebedf0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fwBold {
  font-weight: 600;
}

.payMainECA {
  font-size: 14px;
  font-weight: 400;
  color: #6d747a;
  text-decoration: underline;
}

.payMainF {
  width: 158px;
  margin: auto;
  margin-top: 36px;
}

.phone_inputMain {
  border: 1px solid #CED4DA;
  border-radius: 4px;
  padding: 0px 16px;
  width: 100%;
  height: 48px;
  display: flex;
  justify-content: start;
  align-items: center;
  box-sizing: border-box;
}

.phone_input {
  border: none;
  width: 70%;
  padding-left: 8px;
  outline: none;
}

.phone_select {
  border: none;
  background-color: unset;
  width: 70px;
  padding: 5px 0px;
}

.phone_inputBorder {
  width: 1px;
  height: 20px;
  background-color: #08090A;
}

.leftarrowIcon {
  transform: scaleX(-1);
}

.disabled {
  opacity: 0.3;
}

.discontAmount {
  color: var(--Green-Text, #009758);
  font-family: "Lato";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.16px;
}

.AddCalendar,
.myAppointment {
  cursor: pointer;
}

.warning {
  color: red;
}

.loaderBox {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 767px) {
  .service_timeF {
    gap: 16px;
  }

  .service_timeMonth {
    width: 100%;
  }

  .service_cardBack {
    display: none;
  }

  .bill_sumI {
    border: 1px solid #ebedf0;
    padding: 16px 12px;
  }

  .bill_sumB {
    padding: 0px;
    padding-bottom: 16px;
  }

  .bill_sumC {
    padding: 12px 0px;
  }

  .bill_sumF {
    padding: 16px 12px;
    margin: 24px 0px;
    border: 1px solid #ebedf0;
  }

  .bill_sumG {
    display: none;
  }

  .bill_sumH {
    font-size: 12px;
    padding: 10px 12px;
    line-height: 18px;
  }

  .bill_sumH>img {
    display: none;
  }

  .bill_sumA {
    font-size: 20px;
    padding-bottom: 16px;
  }

  .service_cardMain {
    padding: 0px;
    border: none;
  }

  .final_billAA,
  .final_billBA {
    font-size: 20px;
  }

  .final_billBB {
    font-size: 18px;
  }

  .final_billC {
    padding: 16px 12px;
    box-sizing: border-box;
    width: 100%;
  }

  .final_billCA {
    font-size: 16px;
  }

  .final_billCBB {
    font-size: 14px;
  }

  .final_billCDA {
    font-size: 14px;
  }

  .visitor_detailA:first-child {
    border-top: none;
  }

  .visitor_detailA:last-child {
    border-bottom: none;
  }

  .visitor_detailAA {
    font-size: 20px;
  }

  .visitor_detailACB {
    width: 100%;
  }

  .book_flowMain {
    padding: 70px 24px;
    flex-direction: column;
    gap: 0px;
    box-sizing: border-box;
  }

  .book_flowMainA,
  .book_flowB {
    width: 100%;
  }

  .book_flowMainB {
    display: none;
  }

  .book_flowA {
    font-size: 20px;
    margin-bottom: 16px;
    margin-top: 12px;
  }

  .book_flowMob {
    display: block;
  }

  .worker_detailA {
    padding: 0px;
    padding-bottom: 24px;
    border: none;
    border-bottom: 1px solid #ebedf0;
  }

  .worker_detailB {
    padding: 0px;
    margin: 0px;
    border: none;
  }

  .worker_compACB {
    display: block;
    color: #6d747a;
    line-height: 20px;
  }

  .worker_compACB>img {
    display: none;
  }

  .worker_compA:last-child {
    border: none;
    padding-bottom: 36px;
  }

  .worker_detailC {
    margin-top: 0px;
    padding-top: 36px;
    border-top: none;
    position: relative;
  }

  .worker_detailC::before {
    content: "";
    position: absolute;
    width: 115.7%;
    height: 6px;
    background-color: #ebedf0;
    top: 0%;
    left: -8%;
  }

  .service_timeA {
    font-size: 20px;
  }

  .service_timeC {
    font-size: 16px;
  }

  .service_dateA {
    width: 56px;
    height: 62px;
  }

  .timeMain {
    width: 103px;
    height: 48px;
  }

  .service_timeE {
    padding: 10px 12px;
    font-size: 12px;
  }

  .service_timeE>img {
    display: none;
  }

}

.d_none {
  display: none !important;
}