.spinner {
  animation: spin 1s infinite linear;
}
.loaderContainer{
  width: 100%;
  display: flex;
  justify-content: center;
  min-height: 400px;
  margin: auto;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loader {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #007bff;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin2 1s linear infinite;
  margin: auto;
}

@keyframes spin2 {
  to {
    transform: rotate(360deg);
  }
}
.loaderContainer{
  width: 100%;
  display: flex;
  justify-content: center;
  min-height: 400px;
  margin: auto;
}
