.MyAppointments {
  padding: 6rem;
  min-height: 100vh;
  gap: 18px;
  font-family: "Poppins", sans-serif;
}
.title {
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  margin-top: 4rem;
}
.navWrapper {
  position: relative;
}
.nav {
  display: flex;
  height: 39px;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 72px;
  flex-shrink: 0;
  margin: 2rem 0;
  border-bottom: 1px  solid var(--Grey-40);
}

.contents {
  width: 65%;
  min-height: 70vh;
}
.line {
  position: absolute;
  bottom: 10%;
  height: 1px;
  width: 100%;
  border: none;
  background-color: var(--Grey-40);
}

nav a{
    position: relative;
    display: inline-block;
    height: 100%;
}

nav a .active{
    border-bottom: 4px solid;
    border-radius: 2%;
}


@media only screen and (max-width: 768px) {
  .MyAppointments {
    padding: var(--page-padding-x);
  }
.contents{
  width: 100%;
}
.nav{
  gap:0px;
  justify-content: space-between;
  font-size: var(--font-small);
}
.nav a{
  font-family: "Poppins";
  font-weight: 400;
}
}
