.container {
  height: 100%;
  gap: 36px;
  font-family: "Poppins", sans-serif;
}
.heading {
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 42px */
}
.container,
.choiceButtons {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.choiceButtons {
  gap: 24px;
}
.customer,
.businesses {
  display: flex;
  justify-content: space-between !important;
  font-size: 28px !important;
  align-items: center;
  width: 400px;
  border-radius: 4px;
  padding: 1.5rem 1.25rem;
}

.info {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 28px;
  gap: 12px;
}
.customer img,
.businesses img {
  width: 36px;
  height: 36px;
}

.desc {
  font-family: "Lato", sans-serif;
  font-size: var(--font-small);
  font-weight: 400;
  text-align: left;
  font-size: var(--font-medium);
  margin-top: 0.3rem;
}
.arrowright2,
.arrowright1 {
  height: 24px;
  width: 24px;
}
.signLink {
  font-size: var(--font-medium);
  font-weight: 400;
  font-family: "Lato";
}
.link {
  font-size: var(--font-medium);
  color: var(--primary-color);
  font-family: "Lato", sans-serif;
  font-weight: 600;
}
.userIcon,
.arrowright1 {
  filter: invert(100%);
}
.arrowleft {
  display: none;
}

@media only screen and (max-width: 768px) {
  .choiceButtons {
    width: 100%;
  }
  .customer,
  .businesses {
    padding: 1rem;
    width: 100% !important;
  }
  .heading {
    font-size: 22px;
  }
  .arrowright1,
  .arrowright2,
  .choiceButtons img {
    width: 24px;
    height: 24px;
  }
  .info {
    font-size: var(--fonts-large);
  }
  .desc {
    margin-top: 0rem;
    font-size: 12px;
  }
  .signLink {
    font-size: var(--font-small);
  }
  .customer,
  .businesses {
    width: 100%;
  }
  .arrowleft {
    display: block;
    position: absolute;
    top: 4%;
  }
}
