/* CardComponent.module.css */

.card {
  max-width: 354px;
  width: 100%;
  min-height: 329px;
  border: 1px solid #ced4da;
  border-radius: 8px;
  margin-bottom: 20px;
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card:hover {
  transform: translateY(-5px);
}

.image {
  width: 354px;
  height: 230px;
}
.image img {
  width: 100%;
  height: 100%;
  border-radius: 8px 8px 0px 0px;
}

.details {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.name {
  font-family: Lato;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.01em;
  text-align: left;
}

.rating {
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.01em;
  text-align: left;
  display: flex;
  align-items: center;

  gap: 5px;
}

.address {
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.01em;
  text-align: left;
}

/* Random Animation */
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadein {
  animation: fadein 1.5s;
}
