.container {
  padding: 2rem 6rem;
  font-family: "Lato", sans-serif;
}
.heading {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 56px;
  text-align: center;
}
.contactWrapper {
  height: 554px;
  display: flex;
  margin-top: 3rem;
}
.Image,
.formContainer {
  width: 50%;
  height: 100%;
}
.Image img {
  width: 100%;
  height: 100%;
}
.formContainer {
  width: 424px;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.formHeader {
  height: 20%;
}
.formFields {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.formHeader > h1 {
  font-size: 28px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  line-height: 42px;
}
.formHeader > p {
  font-size: 20px;
}
.nameFields {
  display: flex;
  gap: 16px;
}
.nameFields label{
  width: 47.5%;
}
.firstname,
.lastname {
  width: 100%;
}
.firstnameInput,
.lastnameInput {
  height: 48px;
  width: 100%;
}
.input {
  height: 48px;
}
.textarea {
  height: 144px;
  resize: none;
}
.input,
.textarea
 {
  border: 1px solid var(--Grey-30);
  border-radius: 4px;
  margin-top: 0.5rem;
  padding-left: 1rem;
  box-sizing: border-box;
}
.textarea {
  padding-top: 1rem;
}
.label {
  display: flex;
  flex-direction: column;
  line-height: 24px;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-size: var(--font-medium);
}
.input::placeholder,.textarea::placeholder {
  color: var(--Grey-10);
  font-family: "Lato", sans-serif;
  font-size: var(--font-medium);
}
.checkboxField{
  display: flex;
  margin: 0.8rem 0rem;
}
.checkboxField label {
  flex-direction: row;
}
.privacyPolicy {
  color: var(--primary-color);
  font-size: var(--font-small);
}
.submitButton {
  background: #08080b;
  padding: 1rem 1.5rem;
  width: 100%;
  color: var(--White);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: var(--font-medium);
  cursor: pointer;
  border-radius: 4px;
}
.checkboxText {
  margin-left: 0.4rem;
  font-size: var(--font-small);
}
.formHeader > p {
  width: 85%;
  font-weight: 600;
  font-size: var(--fonts-large);
}
@media only screen and (max-width: 1025px) {
  .container {
    padding: 2rem;
  }
  .formContainer {
    width: 50%;
    box-sizing: border-box;
    padding: 0rem 1rem;
  }
  .formHeader > p {
    font-size: var(--font-medium);
  }
}
@media only screen and (max-width: 770px) {
  .container {
    padding: 2rem 1rem;
  }
  .heading {
    font-size: 48px;
  }
}
@media only screen and (max-width: 600px) {
  .Image {
    display: none;
  }
  .formContainer {
    width: 100%;
    padding: 0rem;
  }
  .heading {
    font-size: 28px;
  }
  .formHeader > h1,
  .formHeader > p,
  label {
    font-size: var(--font-medium);
  }
  .checkboxText {
    font-size: var(--font-small);
    font-weight: 400;
  }
  .formHeader > p {
    width: 100%;
    font-weight: 400;
  }
}
