.profileMain {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0%;
  left: 0%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #08090a;
  font-family: "Lato", sans-serif;
  z-index: 999;
}

.profileA {
  padding: 24px;
  background-color: #fff;
  width: 424px;
  box-sizing: border-box;
  border-radius: 12px;
}

.profileB {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 48px;
  font-size: 20px;
  font-weight: 700;
}

.profileBA,
.profileBB {
  flex-basis: 68%;
  text-align: right;
}
.profileBB {
  flex-basis: 37%;
}
.profileBB img {
  cursor: pointer;
}

.profileC {
  width: 150px;
  height: 150px;
  margin: auto;
  margin-top: 48px;
  margin-bottom: 24px;
  border-radius: 50%;
}
.profileC img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.profileD {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 400;
  text-align: center;
  padding-top: 24px;
  border-top: 1px solid #eaeff2;
}
.profileDA {
  width: 64px;
  height: 94px;
  cursor: pointer;
}
.profileDAA {
  padding: 20px;
  border: 1px solid #eaeff2;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 6px;
}
.hidden {
  display: none;
}
.webcamContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.webcamContainer button {
  background: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 1rem;
}
.saveButtons {
  margin-top: 20px;
  width: 376px;
  height: 48px;
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: space-between;
}
.cancelbtn {
  width: 182px;
}
@media only screen and (max-width: 767px) {
  .profileMain {
    align-items: flex-end;
  }
  .profileA {
    width: 100%;
    border-radius: 12px 12px 0px 0px;
  }
  .profileC {
    display: none;
  }
  .profileD {
    padding-top: 0px;
    border: none;
  }
  .profileBA {
    flex-basis: 90%;
    text-align: left;
  }
}
